<ion-tabs>
  <ion-tab-bar slot="bottom" id="tab-bar">

    <ion-tab-button tab="movies">
      <ion-icon aria-hidden="true" name="film-outline"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>