<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Theme</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-toggle [(ngModel)]="themeService.isDarkMode" (ionChange)="toggleChange($event)" justify="space-between">Dark
        Mode</ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Favorites</ion-label>
    </ion-list-header>
    <ion-item>
      Export favorite movies
      <ion-button slot="end" (click)="favoritesService.clearAll()">Export</ion-button>
    </ion-item>
    <ion-item>
      Delete all favorite movies

      <ion-button color="danger" slot="end" id="present-alert">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-alert trigger="present-alert" header="Delete all favorites" [buttons]="alertButtons"></ion-alert>


</ion-content>